<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link type= "text/css" rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </head>
  <body>
    <form action ="/startGame">
      <p> <input type="submit" value= "Start Game" name="StartGame"/></p>

    </form>

    <input type="button" id="AddQ" > Add Questions and Explanations!</button>
    <input type="button" id="Instructions" > Instructions</button>


  </body>
</html>
